<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellendus similique molestiae hic corporis id eum, voluptas ut, accusantium deleniti inventore provident amet dolor aperiam necessitatibus ratione, animi molestias possimus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati reiciendis veniam veritatis consequatur quod eveniet nostrum possimus, optio, corrupti vel, accusantium molestiae dolor accusamus id! Non repellat aspernatur animi?</p>
    
</body>
</html>